* {
  box-sizing: border-box;
}

table {
  border: 1px solid black;
  width: 400px;
  height: 200px;
  border-collapse: collapse;

  td,
  th {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
  }
}
